.introduction-container {
  display: flex;
  flex-direction: column;
}

.introduction-container section {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
  padding: 1.5rem;
}

.introduction-container h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.introduction-container p {
  margin: 10px 0;
  letter-spacing: 0.5;
  font-size: 1.5rem;
}

.introduction-container hr {
  border: none;
  border-top: 2px dashed #231f20;
  height: 1px;
  width: 100%;
}

.introduction-container img {
  width: 50px;
  height: 50px;
}

.introduction-container img:hover,
.introduction-container img:focus {
  filter: invert(22%) sepia(28%) saturate(3072%) hue-rotate(198deg)
    brightness(60%) contrast(90%);
  transition: .5s;
}
