.introduction-container {
  display: flex;
  flex-direction: column;
}

.introduction-container section {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
  padding: 1.5rem;
}

.introduction-container h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
}

.introduction-container p {
  margin: 10px 0;
  letter-spacing: 0.5;
  font-size: 1.5rem;
}

.social-medias ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.social-medias li {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
  text-align: center;
  flex: 1;
  list-style: none;
  position: relative;
  padding: 0.5rem;
}

.social-medias img {
  width: 100%;
  max-width: 60px;
  color: #231f20;
  background-image: #231f20;
}

.introduction-container hr {
  border: none;
  border-top: 2px dashed #231f20;
  height: 1px;
  width: 100%;
}

.introduction-container svg {
  width: 50px;
  height: 50px;
}