body{
    background-color: #9197A3;
    font-family: Inter;
}
.titulo{
    font-size: 4rem;
    text-align: center;
}
.subtitulo{
    font-size: 2.5em;
}
.texto {
    font-size: 1.5rem;
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
}

.conteudo{
    background-color: #F7F8FA;
    margin: 10vh 15%;
    border: 5px solid #000000;
    border-radius: 30px;
    text-align: center;
}

.conteudo {
    text-align: center;
}

.pdf{
    height: 90vh;
    width: 80%;
}
.github-repo {
    text-align: center;
}

