/*  Configurações Globais */
* {
    margin: 0px;
    padding: 0px;
    line-height: 120%;
    font-family: LMSansQuot8-Regular,monospace;
}
/*  Configurações de fonte e texto na pagína  */
.titulo{
    font-size: 4rem;
    text-align: center;
    padding: 3rem 0px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #050e1f;
}
.subtitulo{
    font-size: 2.5em;
    text-align: center;
    padding: 2rem 0px;
    color: #050e1f;
}
.texto {
    font-size: 1.5rem;
    text-align: justify;
    padding: 1rem 0px;
    color: #050e1f;
}
.texto-centralizado{
    text-align: center;
    color: #050e1f;
}
a{
    text-decoration: none;
}
/*  Configurações dos componentes na pagína */
body{
    background-color: #9197A3;
}
main {
    background-color: #F7F8FA;
    margin: 10vh 15%;
    border: 5px solid #000000;
    border-radius: 25px;
    padding: 2rem 5%;
}
.secao{
}
.pdf{
    height: 100vh;
    width: 95%;
    margin: 0 2.5%;
}
.repositorios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.repositorio__imagem {
    margin: 10px;
}
.rodape {
    width: 100%;
    background-color: #F7F8FA;
    padding: 2.5% 0px;
    text-align: center;
}
.rodape__li{
    padding: 1rem 0px;
}
.li__imagem {
    height: 36px;
    padding: 0 1rem;
}