<!--
    Olá, pessoas enxeridas! Bem-vindo ào o código-fonte do meu website ;)
    Eu decidi criar este website com dois objetivos em mente, ter um desafio de desenvolver um
website sozinho e mostrar os meus projetos, na esperança de ser contratado por alguma empresa!
Este site está sendo desenvolvido e mantido por Claudio Conti Ribeiro.
-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Claudio Conti Ribeiro">
    <title>Claudio Conti</title>
    <link rel="stylesheet" href="paginaInicial.css">
</head>
<body>
<main>
    <header>
        <h1 class="titulo">Claudio Conti R.</h1>
        <!--Icones do GitHub, e-mail, e Linkedin-->
    </header>
    <section>
        <h2 class="subtitulo">Estudante e Desenvolvedor de Software</h2>
        <p class="texto">Olá, é um prazer receber vocês em meu site!</p>
        <p class="texto">
            Meu nome é Claudio Conti Ribeiro, tenho 19 anos e sou desenvolvedor de software e
            estudante do curso de Análise e Desenvolvimento de Sistemas (A.D.S), pela faculdade
            <strong>UNISENAI</strong> em Florianópolis.
        </p>
        <p class="texto">
            Meu objetivo é ingressar no mercado de trabalho e evoluir tanto profissionalmente
            como pessoalmente.
        </p>
        <p class="texto">
            No momento não tenho nenhuma experiência na área, mas trabalhei por 1 ano e 4
            meses como auxiliar administrativo/financeiro em uma empresa de comércio náutico.
        </p>
        <p class="texto">
            Abaixo terá meus projetos em repositórios no <strong>GitHub</strong>, para você dar uma
            olhada em minhas habilidades e conhecimentos.
        </p>
    </section>
    <section>
        <h2 class="subtitulo">Currículo</h2>
        <object class="pdf" data="curriculo_pt-br.pdf" type="application/pdf" aria-labelledby="PDF document">
            <p class="texto">Ocorreu um erro/An error occurred</p>
        </object>
        <p class="texto txt-center">Download</p>
        <!-- Icone do PDF -->
        <p class="txt-center"><a href="curriculo_pt-br.pdf">PDF Download</a></p>
    </section>
    <section>
        <h2 class="subtitulo">Projetos/Repositórios</h2>
        <div class="repositorios">
            <a href="https://github.com/ClaudioRibeiro2/portfolio" target="_blank">
                <img class="repo-img" src="images/portfolio.svg">
            </a>
            <a href="https://github.com/ClaudioRibeiro2/exercicios_deitel" target="_blank">
                <img class="repo-img" src="images/exerciciosDeitel.svg">
            </a>
            <a href="https://github.com/christianlsb/ElementOOPs" target="_blank">
                <img class="repo-img" src="images/elementOOPs.svg">
            </a>
            <a href="https://github.com/christianlsb/Matriculas-GUI" target="_blank">
                <img class="repo-img" src="images/matriculasGUI.svg">
            </a>
        </div>
    </section>
</main>
<footer class="rodape">
    <nav class="rodape-navegacao">
        <ul>
            <li class="li-rodape">© 2024 Claudio Conti Ribeiro | Florianópolis</li>
            <li class="li-rodape">
                <a href="mailto:claudio.conti.ribeiro02@gmail.com" target="_blank">claudio.conti.ribeiro02@gmail.com</a>
            </li>
            <li class="li-rodape">
                <div class="div-redesocial">
                    <a href="https://github.com/ClaudioRibeiro2" target="_blank">
                        <img id="github-icon" class="img-rede-social" src="images/github-mark.svg">
                    </a>
                    <a href="http://www.linkedin.com/in/claudio-conti-ribeiro/" target="_blank">
                        <img id="linkedin-icon" class="img-rede-social" src="images/icons8-linkedin.svg">
                    </a>
                    <a href="mailto:claudio.conti.ribeiro02@gmail.com" target="_blank">
                        <img id="email-icon" class="img-rede-social" src="images/at-sign-3008.svg">
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</footer>
</body>
</html>