<!--
    Olá, pessoas enxeridas! Bem-vindo ào o código-fonte do meu website ;)
    Eu decidi criar este website com dois objetivos em mente, ter um desafio de desenvolver um
website sozinho e mostrar os meus projetos, na esperança de ser contratado por alguma empresa!
Este site está sendo desenvolvido e mantido por Claudio Conti Ribeiro.
-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Claudio Conti Ribeiro">
    <title>Claudio Conti</title>
    <link rel="stylesheet" href="paginaInicial.css">
</head>
<body>
<aside class="barralateral">
    <nav>

    </nav>
</aside>
<main class="conteudo">
    <header class="cabecalho">
        <h1 class="titulo">Claudio Conti R.</h1>
        <!--Icones do GitHub, e-mail, e Linkedin-->
    </header>
    <section class="secao">
        <h2 class="subtitulo">Estudante e Desenvolvedor de Software</h2>
        <p class="texto">Olá, é um prazer receber vocês em meu site!</p>
        <p class="texto">
            Meu nome é Claudio Conti Ribeiro, tenho 19 anos e sou desenvolvedor de software e
            estudante do curso de Análise e Desenvolvimento de Sistemas (A.D.S), pela faculdade
            <strong>UNISENAI</strong> em Florianópolis.
        </p>
        <p class="texto">
            Meu objetivo é ingressar no mercado de trabalho e evoluir tanto profissionalmente
            como pessoalmente.
        </p>
        <p class="texto">
            No momento não tenho nenhuma experiência na área, mas trabalhei por 1 ano e 4
            meses como auxiliar administrativo/financeiro em uma empresa de comércio náutico.
        </p>
        <p class="texto">
            Abaixo terá meus projetos em repositórios no <strong>GitHub</strong>, para você  dar uma
            olhada em minhas habilidades e conhecimentos.
        </p>
    </section>
    <section class="secao">
        <h2 class="subtitulo">Currículo</h2>
        <object data="../static/curriculo_pt-br.pdf" type="application/pdf" width="100%" height="800px"></object>
        <h3 class="subtitulo">Download</h3>
        <!-- Icone do PDF -->
        <p class="texto">PDF DOWNLOAD</p>
    </section>
    <section class="secao">
        <h2 class="subtitulo">Projetos/Repositórios</h2>
        <!-- Repositórios do Github -->
    </section>
    <footer class="rodape">

    </footer>
</main>
</body>
</html>