.site-header {
    box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
}

.title a {
    display: flex;
    text-decoration: none;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #231f20;
}

.date {
    margin: 0px;
    margin-bottom: 8px;
}

.site-title{
    font-size: 2.5em;
    font-weight: 1000;
    margin: 0;
}

@media (max-width: 400px) {
    .site-title span {
        display: none;
    }    
}

.nav-container {

}

.nav-container ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.nav-container li {
    box-shadow: 0 0 0 1px #231f20,inset 0 0 0 1px #231f20;
    text-align: center;
    flex: 1;
    list-style: none;
    position: relative;
}

.nav-container a {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 700;
    font-family: Pressura Mono, monospace;
    padding: 16px 20px;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    color: #231f20;   

    display: inline-block;
    text-align: center;
}