.site-header {
    box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    justify-content: center;
}

.title a {
    box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
    padding: 16px;
    display: flex;
    text-decoration: none;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #231f20;
}

.site-title{
    font-size: 2.5em;
    font-weight: 1000;
}