.curriculum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curriculum-container iframe {
  width: 100%;
  height: 80vh;
}

.curriculum-container a {
  font-size: 2rem;
  color: #231f20;
  padding-top: 1.5rem;
}

.curriculum-container .hidden-download {
  display: none;
}

@media (max-width: 400px) {
  .curriculum-container iframe {
    display: none;
  }

  .curriculum-container a {
    display: none;
  }

  .curriculum-container .hidden-download {
    display: block;
  }
}

@media (max-width: 600px){
  .curriculum-container iframe {
    height: 60vh;
  }
}